<form action='/servform/result/' method='post'>
  <input type="hidden" name="authenticity_token" value="VxLCoqvap2IdbFioGuFfTadt+I5jVDPKxwg+6/1wPZIXUHTPyQzAq6Bat6MXlSF9HYrxQN3aXSZWZqJPMf2HOw==" />
  <hr>
    name
  <input type='text' name='user[name]' />
  <hr>
    location  
  <input type='text' name='user[location]' />
  <hr>
    favourite language
  <input type='text' name='user[fav_lang]' />
  <hr>
    comment
  <textarea name='user[comment]'></textarea>
  <hr>
  <input type='submit' value='Submit'>
</form>